  <div id="mo-wrapper">
      <section id="panel">
      </section>      

    <header>
    </header>

      <section class="mo-content">
         <div class="row">
            <div class="large-12 columns">

               <ul class="timeline">

                  <% @posts.each do |post| %>
                  <li class="mo-animate" data-animate="fadeInDown">
                     <div class="timeline-container">
                        <div class="feature-left">
                           <h5 class="gap" data-top="20" data-bottom="12">総合運動場の利用可否の HP での公開</h5> 
                           <p>　総合運動場のランニングコースを利用していますが、運動場に到着して初めて、当日利用できるかが分かります。イベントなどの開催は事前に分かっているので、総合運動場のホームページに当日の個人利用が可能なのか載せてください。</p>
                           <div class ="auther">投稿者: 山田花子</div> <!-- 投稿者名を載せるならここでいかが -->
                        </div>
                     </div>
                     <div class="timeline-footer">
                        <div class="footer-content">
                            <ul class="inline-list">
                              <li>2014/11/12 23:43</li>   
                              <li><a href="#"><i class="icon-comment"></i> 25</a></li>
                              <li><a href="#"><i class="icon-fblike"></i> 100</a></li> 
                           </ul>
                        </div>
                     </div>
                  </li>
                  <% end %>
                  
                                    <li class="mo-animate" data-animate="fadeInDown">
                     <div class="timeline-container">
                        <div class="feature-left">
                           <h5 class="gap" data-top="20" data-bottom="12">総合運動場の利用可否の HP での公開</h5> 
                           <p>　総合運動場のランニングコースを利用していますが、運動場に到着して初めて、当日利用できるかが分かります。イベントなどの開催は事前に分かっているので、総合運動場のホームページに当日の個人利用が可能なのか載せてください。</p>
                           <div class ="auther">投稿者: 山田花子</div> <!-- 投稿者名を載せるならここでいかが -->
                        </div>
                     </div>
                     <div class="timeline-footer">
                        <div class="footer-content">
                            <ul class="inline-list">
                              <li>2014/11/12 23:43</li>   
                              <li><a href="#"><i class="icon-comment"></i> 25</a></li>
                              <li><a href="#"><i class="icon-fblike"></i> 100</a></li> 
                           </ul>
                        </div>
                     </div>
                  </li>

               </ul>
            </div>
         </div>                 
      </section>          


  </div>      