<section class="mo-content">
	<div class="row">
		<div class="large-8 columns">
            <div id="comment" class="triggerAnimation animated" data-animate="fadeInDown">
                  <h4 class="mo-animate" data-animate="fadeInLeft">意見を送る</h4> 
                  <%= render 'form' %>
            </div>
		</div>				
	</div>   
</section>
<%= link_to 'Back', posts_path %>
