  <div id="mo-wrapper">
    <section id="panel">
     <div class="row">
       <form action="#" class="mo-animate" data-animate="fadeInDown">
        <div class="row">
         <div class="form-group large-3 columns">
         </div>
         <div class="form-group large-6 columns">
          <input type="text" class="form-control input-lg" id="name" placeholder="Search Word">
        </div>
        <div class="form-inline large-1 columns remember">
         <button type="submit" class="button small blue">検索<i class="icon-search"></i></button>
       </div>
     </div>
   </form>
 </div>
</section>

<header>
  <div class="row">
    <div class="large-12 columns">
     <div id="toggle-panel">
      <a href="#" id="toggle"><i class="icon-search"></i></a> <!-- 検索はここにかく -->
    </div>

    <div id="logo">
      <a href="/">
       <h2 class="mega">GetWill<span></h2>
     </a>
   </div>

   <nav id="mo-menu">
    <ul class="menu sm">
      <li><a href="/posts">タイムライン</a></li>
      <li><a href="/posts/new">投稿</a></li>
      <li><a href="#">マイページ</a></li>
      <li><a href="#">Q＆A</a></li>
    </ul>
  </nav>

</div>
</div>
</header>



<section class="mo-content">
	<div class="row">
		<div class="large-8 columns">
            <div id="comment" class="triggerAnimation animated" data-animate="fadeInDown">
                  <h4 class="mo-animate" data-animate="fadeInLeft">意見を送る</h4> 
                  <%= render 'form' %>
            </div>
		</div>				
	</div>   
</section>

  <footer>
        <div id="copyright">
            <div class="row">
               <div class="large-12 columns text-center">
                  Created with  by ちーむりたりた. &copy; 2014 all rights reserved
               </div>
            </div>
         </div>
 </footer>

</div>