/* --------------------------------------------------------------------------
 * Prodigystudio  : Kyma - Multipurpose HTML Template
 *  
 * file           : menu.css
 * Desc           : Maleo Framework - Menu Component
 * Version        : 1.0
 * Date           : 06/12/2014
 * Author         : Prodigystudio - team
 * Author URI     : http://prodigystudio.net
 * Email          : Hello@prodigystudio.net
 *
 * Prodigy Studio. Copyright © 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */

.sm, .sm ul, .sm li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  direction: ltr;
}

ul.sm li {
  position: relative;  
}

ul.sm a {
  position: relative;
  display: block;
}

ul.sm a.disabled {
  cursor: default;
}

ul.sm ul {
  position: absolute;
  top: -999999px;
  left: -800px;
  width: 100px;
}

ul.sm li {
  float: left;
}

ul.sm-rtl {
  direction: rtl;
}

ul.sm-rtl li {
  float: right;
}

ul.sm ul li, ul.sm-vertical li {
  float: none;
}

ul.sm a {
  white-space: nowrap;
}

ul.sm ul a, ul.sm-vertical a {
  white-space: normal;
}

* html ul.sm-vertical li {
  float: left;
  width: 100%;
}

* html ul.sm-vertical ul li {
  float: none;
  width: auto;
}

*:first-child + html ul.sm-vertical > li {
  float: left;
  width: 100%;
}

ul.sm ul.sm-nowrap > li > a {
  white-space: nowrap;
}

ul.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

* html ul.sm {
  height: 1px;
}

*:first-child + html ul.sm {
  min-height: 1px;
}

ul.sm li *, ul.sm li *:before, ul.sm li *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

ul.sm {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sm {
  border-bottom: 5px solid #fecb00;
  padding: 0px;
}

.sm-vertical {
  padding: 0px 20px;
}

/* ------------------- Menu box ------------------- */
.sm ul {  
  padding: 5px 0;
  background: white;
  -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* first sub level carets */
.sm > li > ul:before {
  content: '';
  position: absolute;
  top: -17px;
  left: 30px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 9px;
  /* tweak size of the arrow */
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #efefef transparent;
}

.sm > li > ul:after {
  content: '';
  position: absolute;
  top: -15px;
  left: 31px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent white transparent;
}

/* no carets for vertical main */
.sm-vertical > li > ul:before, .sm-vertical > li > ul:after {
  display: none;
}

/* ------------------- Menu items ------------------- */
.sm a {
  padding: 19px 20px 33px 20px;
  color: #3498db;
  font-size: 16px;
  line-height: 17px;
  text-decoration: none;
}

.sm a:hover,
.sm a:focus,
.sm a:active,
.sm a.highlighted {
  color: #fff;
  background: #4f4f4f;
}

.sm-vertical a:hover, .sm-vertical a:focus, .sm-vertical a:active,
.sm-vertical a.highlighted {
  background: #fff;
}

.sm a.has-submenu {
  padding-right: 37px;
}

.sm-vertical a,
.sm ul a {
  padding: 0;
  color: #999999;
  padding: 15px 20px;
}
.sm-vertical a:last-child,
.sm ul a:last-child {
  border-bottom: none;
}

.sm-vertical a.has-submenu,
.sm ul a.has-submenu {
  padding-right: 40px;
}

.sm ul a {
  font-size: 16px;
}

.sm ul a:hover,
.sm ul a:focus,
.sm ul a:active,
.sm ul a.highlighted {
  color: #fff;
  background: #4f4f4f;
}

/* current items - add the class manually to some item or check the "markCurrentItem" script option */
.sm a.current,
.sm a.current:hover,
.sm a.current:focus,
.sm a.current:active {
  color: #fff;
  background: #4f4f4f;
}

.menu li.active > a,
.menu li.active > a:hover,
.menu li.active > a:focus,
.menu li.active > a:active {
  color: #fff;
  background: #4f4f4f;
}


/* ------------------- Sub menu indicators ------------------- */
.sm a span.sub-arrow {
  top: 50%;
}
.sm a span.sub-arrow:after {
  width: 0px;
  height: 0px;
  font-family: 'WebHostingHub-Glyphs';
  font-style: normal;
  content: '\f48b';
  color: #3498db;
  font-size: 10px;
  right: -7px;
  position: relative;
  float: right;
}

/* ------------------- Sub sub menu indicators ------------------- */
.sm-vertical a span.sub-arrow,
.sm ul a span.sub-arrow {
  top: 50%;
}
.sm-vertical a span.sub-arrow:after,
.sm ul a span.sub-arrow:after {
  width: 0px;
  height: 0px;
  font-family: 'WebHostingHub-Glyphs';
  font-style: normal;
  content: '\f488';
  color: #999999;
  font-size: 10px;
  right: -7px;
  position: relative;
  float: right;
}

/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/
.sm span.scroll-up, .sm span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  background: #fff;
  height: 20px;
  /* width and position will be automatically set by the script */
}

.sm span.scroll-up:hover, .sm span.scroll-down:hover {
  background: #f9f9f9;
}

.sm span.scroll-up-arrow, .sm span.scroll-down-arrow {
  position: absolute;
  left: 50%;
  top: 50%;
}
.sm span.scroll-up-arrow:after, .sm span.scroll-down-arrow:after {
  width: 0px;
  height: 0px;
  font-family: 'WebHostingHub-Glyphs';
  font-style: normal;
  content: '\f48a';
  color: #999999;
  font-size: 10px;
  position: relative;
  float: right;
  top: -5px;
}

.sm span.scroll-up:hover span.scroll-up-arrow:after {
  color: #3498db;
}

.sm span.scroll-down-arrow:after {
  width: 0px;
  height: 0px;
  font-family: 'WebHostingHub-Glyphs';
  font-style: normal;
  content: '\f48b';
  color: #999999;
  font-size: 10px;
  position: relative;
  float: right;
  top: -5px;
}

.sm span.scroll-down:hover span.scroll-down-arrow {
  border-color: #D23600 transparent transparent transparent;
}

/*------------------- sidebar menu -------------------*/
ul.sm.sidemenu {
  width: auto;
}
ul.sm.sidemenu ul {
  display: none;
  position: static !important;
  top: auto !important;
  left: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}
ul.sm.sidemenu > li {
  float: none;
}
ul.sm.sidemenu > li > a, ul.sm.sidemenu > li ul.sm-nowrap > li > a {
  white-space: normal;
}
ul.sm.sidemenu iframe {
  display: none;
}
ul.sm.sidemenu a {
  font-size: 14px;
  line-height: 11px;
}

/*------------------- sidebar menu box -------------------*/
.sm.sidemenu {
  padding: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sm.sidemenu ul {
  border: 0;
  padding: 0;
  /* darken the background of the sub menus */
  background: rgba(130, 130, 130, 0.1);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sm.sidemenu > li > ul:before,
.sm.sidemenu > li > ul:after {
  /* no carets */
  display: none;
}

/*------------------- sidebar menu items -------------------*/
.sm.sidemenu a {
  padding: 13px 5px 13px 28px !important;
  background: transparent !important;
}
.sm.sidemenu a.current {
  border-left: 3px #3498db solid;
  color: #3498db !important;
  background-color: #f9f9f9 !important;
}
.sm.sidemenu a.highlighted:after {
  width: 0px;
  height: 0px;
  font-size: 10px;
  right: 28px;
  position: relative;
  float: right;
  font-family: 'WebHostingHub-Glyphs';
  font-style: normal;
  content: '\f48a';
  color: #3498db;
}

/* add some text indentation for the 2+ level sub menu items */
.sm.sidemenu ul a {
  border-left: 8px solid transparent;
}

.sm.sidemenu ul ul a {
  border-left: 16px solid transparent;
}

.sm.sidemenu ul ul ul a {
  border-left: 24px solid transparent;
}

.sm.sidemenu ul ul ul ul a {
  border-left: 32px solid transparent;
}

.sm.sidemenu ul ul ul ul ul a {
  border-left: 40px solid transparent;
}

/*------------------- sidebar sub menu indicators -------------------*/
.sm.sidemenu a span.sub-arrow:after,
.sm.sidemenu ul a span.sub-arrow:after {
  right: 28px;
}

/* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
.sm.sidemenu a.highlighted span.sub-arrow {
  display: none !important;
}

/*------------------- Items separators -------------------*/
.sm.sidemenu li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.sm.sidemenu > li:first-child {
  border-top: 0;
}

/*------------------- sidebar menu end here -------------------*/
/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/
/* decrease horizontal main menu items left/right padding to avoid wrapping */
@media screen and (max-width: 850px) {
  .sm:not(.sm-vertical) > li > a {
    padding-left: 8px;
    padding-right: 8px;
  }

  .sm:not(.sm-vertical) > li > a.has-submenu {
    padding-right: 25px;
  }
}
@media screen and (max-width: 750px) {
  .sm:not(.sm-vertical) > li > a {
    padding-left: 3px;
    padding-right: 3px;
  }

  .sm:not(.sm-vertical) > li > a.has-submenu {
    padding-right: 25px;
  }
}
@media screen and (max-width: 700px) {
  /* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
  ul.sm {
    width: auto !important;
  }

  ul.sm ul {
    display: none;
    position: static !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
  }

  ul.sm > li {
    float: none;
  }

  ul.sm > li > a, ul.sm ul.sm-nowrap > li > a {
    white-space: normal;
  }

  ul.sm iframe {
    display: none;
  }

  /* Uncomment this rule to disable completely the sub menus for small screen devices */
  /*.sm ul, .sm span.sub-arrow, .sm iframe {
  	display:none !important;
  }*/
  /* Menu box
  ===================*/
  .sm {
    padding: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .sm ul {
    border: 0;
    padding: 0;
    /* darken the background of the sub menus */
    background: rgba(130, 130, 130, 0.1);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* no carets */
  .sm > li > ul:before, .sm > li > ul:after {
    display: none;
  }

  /* Menu items
  ===================*/
  .sm a {
    padding: 13px 5px 13px 0px !important;
    color: #555 !important;
    background: transparent !important;
  }

  .sm a.current {
    color: #3498db !important;
    background-color: #f9f9f9 !important;
  }

  /* add some text indentation for the 2+ level sub menu items */
  .sm ul a {
    border-left: 8px solid transparent;
  }

  .sm ul ul a {
    border-left: 16px solid transparent;
  }

  .sm ul ul ul a {
    border-left: 24px solid transparent;
  }

  .sm ul ul ul ul a {
    border-left: 32px solid transparent;
  }

  .sm ul ul ul ul ul a {
    border-left: 40px solid transparent;
  }

  /* Sub menu indicators
  ===================*/
  .sm a span.sub-arrow,
  .sm ul a span.sub-arrow {
    top: 50%;
    margin-top: -9px;
    right: auto;
    left: 6px;
    margin-left: 0;
    width: 17px;
    height: 17px;
    font: normal 16px/16px monospace !important;
    text-align: center;
    border: 0;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.6);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  /* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
  .sm a.highlighted span.sub-arrow {
    display: none !important;
  }

  /* Items separators
  ===================*/
  .sm li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  .sm > li:first-child {
    border-top: 0;
  }
}
