<!DOCTYPE html>
<html>
<head>
  <title>Getwill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<div class="rowa">
			<div class="large-3 medium-3 columns mo-animate" data-animate="fadeInLeft">
               <div id="left-tab">
                  <!-- tab list -->
                  <ul class="resp-tabs-list">
                     <a href="/admin_users"><li id ="posts">Posts</li></a>
                     <li><i class="icon-calculator"></i>Sample</li>
                     <a href="/admin_users/apis"><li><i class="icon-stickynote"></i> Sample 3</li></a>
                  </ul>

               </div>
            </div>
</div>
<%= yield %>
</body>
	<script>
	</script>
</html>

