<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>GetWill</title>
   <%= include_gon %>
   
   <%= stylesheet_link_tag 'application' %>
      
   <!-- Favicon -->
   <!-- "img/favicon.ico" rel="shortcut icon" / -->

   <!-- Google Webfont -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet'>
   <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet'>
   <%= javascript_include_tag 'application' %>
</head>

<body>

	<%= yield %>

	<script type="text/javascript">
		jQuery(document).ready(function($){
		});
	</script>
</body>
</html>
